absl-py==0.9.0
albumentations==0.4.2
alembic==1.4.2
apex==0.1
appdirs==1.4.3
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.0
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
bokeh==2.1.0
catalyst==20.6
catboost==0.20.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
configparser==5.0.0
crc32c==1.7
cryptography==2.9.2
cycler==0.10.0
cytoolz==0.10.1
dask==2.18.1
databricks-cli==0.9.1
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.1.0
distributed==2.18.0
docker==4.2.1
docker-pycreds==0.4.0
efficientnet==1.0.0b3
efficientnet-pytorch==0.6.3
entrypoints==0.3
Flask==1.1.2
fsspec==0.7.4
future==0.18.2
gast==0.3.3
gitdb==4.0.5
GitPython==3.1.1
google-pasta==0.2.0
gorilla==0.3.0
gql==0.1.0
graphql-core==2.2.1
grpcio==1.27.2
gunicorn==20.0.4
h5py==2.8.0
HeapDict==1.0.1
idna==2.9
image-classifiers==1.0.0b1
imageio==2.8.0
imgaug==0.2.6
importlib-metadata==1.6.1
ipykernel==5.3.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.15.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kaggle==1.5.6
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
locket==0.2.0
lz4==2.2.1
Mako==1.1.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
munch==2.3.2
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
notebook==6.0.3
numpy==1.18.1
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-python==4.1.1.26
packaging==20.4
pandas==1.0.4
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.2.1
pretrainedmodels==0.7.4
prometheus-client==0.8.0
prometheus-flask-exporter==0.12.1
promise==2.2.1
prompt-toolkit==3.0.5
protobuf==3.12.3
psutil==5.7.0
ptyprocess==0.6.0
pyaml==19.4.1
pycparser==2.20
pydot==1.4.1
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-slugify==3.0.4
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==18.1.1
querystring-parser==1.2.4
requests==2.23.0
retrying==1.3.3
Rx==1.6.1
safitty==1.3
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-multilearn==0.2.0
scikit-optimize==0.6+19.g180d6be
scipy==1.4.1
seaborn==0.9.0
segmentation-models==1.0.0b1
segmentation-models-pytorch @ git+https://github.com/qubvel/segmentation_models.pytorch@a3cc9ac7b3430967414506f37c5f043e1ba3397f
Send2Trash==1.5.0
sentry-sdk==0.13.1
shap==0.34.0
shortuuid==0.5.0
simplejson==3.17.0
six==1.15.0
smmap==3.0.2
sortedcontainers==2.2.2
SQLAlchemy==1.3.17
sqlparse==0.3.1
statsmodels==0.11.1
subprocess32==3.5.4
tabulate==0.8.3
tblib==1.6.0
tensorboard==1.14.0
tensorboardX==1.9
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
timm==0.1.20
tinydb @ file:///home/conda/feedstock_root/build_artifacts/tinydb_1591381822886/work
toolz==0.10.0
torch==1.5.0+cu101
torchvision==0.4.2
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
tsfresh==0.13.0
ttach==0.0.2
typing-extensions==3.7.4.1
Unidecode==1.1.1
urllib3==1.25.6
wandb==0.8.13
watchdog==0.9.0
wcwidth==0.2.4
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
zict==2.0.0
zipp==3.1.0
